<!DOCTYPE html>
<html>

<head>
    <title>US Map</title>
    <link rel="stylesheet" href="/stylesheets/map.css">
    <link rel="stylesheet" href="/stylesheets/dashboard.css">
    <script src="/javascripts/raphael.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>
    <script src="/javascripts/color.jquery.js"></script>
    <script src="/javascripts/jquery.usmap.js"></script>
    <script src="/javascripts/domModify.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.2/d3.min.js" charset="utf-8"></script>
    <link href="/stylesheets/nv.d3.min.css">
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400, 700" rel="stylesheet">
    <!-- Site Icons -->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="./../stylesheets/bootstrap.min.css">

    <link rel="stylesheet" href="./../stylesheets/font-awesome.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="./../stylesheets/style.css">

    <link rel="stylesheet" href="./../stylesheets/form.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="./../stylesheets/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="./../stylesheets/custom.css">
	<script src="./../javascripts/modernizr.js"></script> <!-- Modernizr -->

    <script src="/stylesheets/nv.d3.min.js"></script>
</head>

<body id="page-top" class="politics_version" style="background-color: #d6dbdb;">
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav" style="background-color: #303636;height: 60px;">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">
			<h2 class="logo">EvictionLand</h2>
		</a>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav text-uppercase ml-auto">
            <li style="color: black; margin-left: 30px;">
              <a class="links" href="#" style="color:white;">Home</a>
            </li>
            <li style="color: black; margin-left: 30px;">
              <a class="links" href="#" style="color:white;">About Us</a>
            </li>
            <li style="color: black; margin-left: 30px;">
              <a class="links " href="#" style="color:white;">Services</a>
            </li>
			<li style="color: black; margin-left: 30px;">
              <a class="links" href="#" style="color:white;">Our Team</a>
              </li>
          </ul>
        </div>
      </div>
    </nav>

	<section id="signup"  style="margin-top: 90px; min-height: 81%;">
        <div class="container-fluid" style="padding-left: 50px;padding-right: 50px;">
            <div class="row">
                <div class="col-md-6">
                    <div class="row" style="height: 350px;">
                        <div class="col-md-5 cards" style="height: 300px;">
                            <!-- state analysis -->
                            <div class="stateTitle">
                                <span class="Charttitle">State analysis</span>
                                <div class="circle">#<%= stateData.rank %></div>
                                <div class="evictionData">
                                    <div class="state"><%= state %></div>
                                    <div class="evictionRate">Number of Evictions: <%= stateData.evictionRate %></div>
                                </div>
                            </div>
                            <!-- state analysis end-->
                        </div>
                        <div class="col-md-2">
                        </div>
                        <div class="col-md-5 cards" style="height: 300px;">
                            <div class="rankingsTop">
                                <span class="Charttitle">Top Evicting States in the United States</span>
                                <div id="graphic" class="graphic"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row cards" style="height: 290px;">
                        <!-- heap map -->
                        <div style="width: 60%; display: inline-block">
                            <span class="Charttitle">Eviction analysis for US</span>
                            <span id="key"></span>
                            <div id="map"></div>
                        </div>
                        <!-- heat map ends here -->
                    </div>
                </div>
                <div class="col-md-4" style="margin-left: 120px;">
                    <div class="row cards" style="height: 200px;">
                        <!-- multiline chart -->
                        <div style="width: 60%; display: inline-block">
                            <span class="Charttitle">Effective analysis of Rent burden on Eviction Rate</span>
                            <div id="multiLinechart"></div>
                        </div>
                    </div>
                    <div class="row cards" style="height: 200px;margin-top:20px;">
                        <span class="Charttitle">Poverty Rate analysis for 2000 to 2016</span>
                        <div id="rentline">
                            <svg width="400" height="250"></svg>
                        </div>
                    </div>
                    <div class="row cards" style="height: 200px;margin-top:20px;">
                        <span class="Charttitle">Number of evictions analysis from 2000 to 2016</span>
                        <div id="piechart">
                        </div>
                    </div>

                </div>
            </div>
        </div>
	</section>


    <div class="copyrights" style="height: 80px;">
        <div class="container">
            <div class="footer-distributed" style="float: left;">
                <div class="footer-right">
                    <p class="footer-company-name">All Rights Reserved. &copy; 2018 <a href="#">EvictionLand</a>
                </div>
            </div>
        </div><!-- end container -->
    </div><!-- end copyrights -->

    <a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>

<script>
    var selectedState;
    selectedState = <%- JSON.stringify(state) %>;
    var mapDataForState = <%- JSON.stringify(mapData) %>;
    var yearDataForState = <%- JSON.stringify(yearData) %>;
    var yearRentData = <%- JSON.stringify(rentBurden) %>;
    var poverty = <%- JSON.stringify(poverty) %>;
    var rankingData = <%- JSON.stringify(rankings) %>;
    var stackedChartData = <%- JSON.stringify(stackedChartData) %>
    var pieChartData = <%- JSON.stringify(pieChartData) %>
    addMap(mapDataForState, selectedState);
    //addLine(yearDataForState);
    addRentBurdenLineGraph(yearRentData);
    rankingData.push({
        "rank": <%= stateData.rank %>,
        "county": "<%= state %>",
        "case_numbers": <%= stateData.evictionRate %>});

    stackedBarChart(stackedChartData);
    rankings(rankingData);
    pieChart(pieChartData);

    function addLine(data) {
        var svg = d3.select("#line svg"),
            margin = {
                top: 20,
                right: 20,
                bottom: 30,
                left: 40
            },
            width = +svg.attr("width") - margin.left - margin.right,
            height = +svg.attr("height") - margin.top - margin.bottom;

        var parseTime = d3.timeParse("%Y")
        bisectDate = d3.bisector(function (d) {
            return d.year;
        }).left;

        var x = d3.scaleTime().range([0, width]);
        var y = d3.scaleLinear().range([height, 0]);

        var line = d3.line()
            .x(function (d) {
                return x(d.year);
            })
            .y(function (d) {
                return y(d.value);
            });

        var g = svg.append("g")
            .attr("transform", "translate(" + margin.left + "," + margin.top + ")");


        data.forEach(function (d) {
            d.year = parseTime(d.year);
            d.value = +d.value;
        });

        x.domain(d3.extent(data, function (d) {
            return d.year;
        }));
        y.domain([d3.min(data, function (d) {
            return d.value;
        }) / 1.005, d3.max(data, function (d) {
            return d.value;
        }) * 1.005]);

        g.append("g")
            .attr("class", "axis axis--x")
            .attr("transform", "translate(0," + height + ")")
            .call(d3.axisBottom(x));

        g.append("g")
            .attr("class", "axis axis--y")
            .call(d3.axisLeft(y).ticks(6).tickFormat(function (d) {
                return parseInt(d / 1000) + "k";
            }))
            .append("text")
            .attr("class", "axis-title")
            .attr("transform", "rotate(-90)")
            .attr("y", 6)
            .attr("dy", ".71em")
            .style("text-anchor", "end")
            .attr("fill", "#5D6971")
            .text("Filed Evictions");

        g.append("path")
            .datum(data)
            .attr("class", "line")
            .attr("d", line);

        var focus = g.append("g")
            .attr("class", "focus")
            .style("display", "none");

        focus.append("line")
            .attr("class", "x-hover-line hover-line")
            .attr("y1", 0)
            .attr("y2", height);

        focus.append("line")
            .attr("class", "y-hover-line hover-line")
            .attr("x1", width)
            .attr("x2", width);

        focus.append("circle")
            .attr("r", 7.5);

        focus.append("text")
            .attr("x", 15)
            .attr("dy", ".31em");

        svg.append("rect")
            .attr("transform", "translate(" + margin.left + "," + margin.top + ")")
            .attr("class", "overlay")
            .attr("width", width)
            .attr("height", height)
            .on("mouseover", function () {
                focus.style("display", null);
            })
            .on("mouseout", function () {
                focus.style("display", "none");
            })
            .on("mousemove", mousemove);

        function mousemove() {
            var x0 = x.invert(d3.mouse(this)[0]),
                i = bisectDate(data, x0, 1),
                d0 = data[i - 1],
                d1 = data[i],
                d = x0 - d0.year > d1.year - x0 ? d1 : d0;
            focus.attr("transform", "translate(" + x(d.year) + "," + y(d.value) + ")");
            focus.select("text").text(function () {
                return d.value;
            });
            focus.select(".x-hover-line").attr("y2", height - y(d.value));
            focus.select(".y-hover-line").attr("x2", width + width);
        }

    }

    function addRentBurdenLineGraph(data) {
        var svg = d3.select("#rentline svg"),
            margin = {
                top: 20,
                right: 20,
                bottom: 30,
                left: 40
            },
            width = +svg.attr("width") - margin.left - margin.right,
            height = +svg.attr("height") - margin.top - margin.bottom;

        var parseTime = d3.timeParse("%Y")
        bisectDate = d3.bisector(function (d) {
            return d.year;
        }).left;

        var x = d3.scaleTime().range([0, width]);
        var y = d3.scaleLinear().range([height, 0]);

        var line = d3.line()
            .x(function (d) {
                return x(d.year);
            })
            .y(function (d) {
                return y(d.value);
            });

        var g = svg.append("g")
            .attr("transform", "translate(" + margin.left + "," + margin.top + ")");


        data.forEach(function (d) {
            d.year = parseTime(d.year);
            d.value = +d.value;
        });

        x.domain(d3.extent(data, function (d) {
            return d.year;
        }));
        y.domain([d3.min(data, function (d) {
            return d.value;
        }) / 1.005, d3.max(data, function (d) {
            return d.value;
        }) * 1.005]);

        g.append("g")
            .attr("class", "axis axis--x")
            .attr("transform", "translate(0," + height + ")")
            .call(d3.axisBottom(x));

        g.append("g")
            .attr("class", "axis axis--y")
            .call(d3.axisLeft(y).ticks(6).tickFormat(function (d) {
                return d + "%";
            }))
            .append("text")
            .attr("class", "axis-title")
            .attr("transform", "rotate(-90)")
            .attr("y", 6)
            .attr("dy", ".71em")
            .style("text-anchor", "end")
            .attr("fill", "#5D6971")
            .text("Rent Burden");

        g.append("path")
            .datum(data)
            .attr("class", "line")
            .attr("d", line);

        var focus = g.append("g")
            .attr("class", "focus")
            .style("display", "none");

        focus.append("line")
            .attr("class", "x-hover-line hover-line")
            .attr("y1", 0)
            .attr("y2", height);

        focus.append("line")
            .attr("class", "y-hover-line hover-line")
            .attr("x1", width)
            .attr("x2", width);

        focus.append("circle")
            .attr("r", 7.5);

        focus.append("text")
            .attr("x", 15)
            .attr("dy", ".31em");

        svg.append("rect")
            .attr("transform", "translate(" + margin.left + "," + margin.top + ")")
            .attr("class", "overlay")
            .attr("width", width)
            .attr("height", height)
            .on("mouseover", function () {
                focus.style("display", null);
            })
            .on("mouseout", function () {
                focus.style("display", "none");
            })
            .on("mousemove", mousemove);

        function mousemove() {
            var x0 = x.invert(d3.mouse(this)[0]),
                i = bisectDate(data, x0, 1),
                d0 = data[i - 1],
                d1 = data[i],
                d = x0 - d0.year > d1.year - x0 ? d1 : d0;
            focus.attr("transform", "translate(" + x(d.year) + "," + y(d.value) + ")");
            focus.select("text").text(function () {
                return d.value;
            });
            focus.select(".x-hover-line").attr("y2", height - y(d.value));
            focus.select(".y-hover-line").attr("x2", width + width);
        }

    }

    function addMap(data, selectedState) {

        //Width and height of map
        var width = 550;
        var height = 330;

        var lowColor = '#f9f9f9'
        var highColor = '#6f257f'

        // D3 Projection
        var projection = d3.geoAlbersUsa()
            .translate([width / 2, height / 2]) // translate to center of screen
            .scale([600]); // scale things down so see entire US

        // Define path generator
        var path = d3.geoPath() // path generator that will convert GeoJSON to SVG paths
            .projection(projection); // tell path generator to use albersUsa projection

        //Create SVG element and append map to the SVG
        var svg = d3.select("#map")
            .append("svg")
            .attr("width", width)
            .attr("height", height);


        var dataArray = [];
        for (var d = 0; d < data.length; d++) {
            if (data[d].state != "USA") {
                dataArray.push(data[d].value != undefined ? data[d].value : 0)
            }

        }

        var minVal = d3.min(dataArray)
        var maxVal = d3.max(dataArray)
        var ramp = d3.scaleLinear().domain([minVal, maxVal]).range([lowColor, highColor])

        // Load GeoJSON data and merge with states data
        d3.json("/data/us-states.json", function (json) {

            // Loop through each state data value in the .csv file
            for (var i = 0; i < data.length; i++) {

                // Grab State Name
                var dataState = data[i].state;

                // Grab data value
                var dataValue = data[i].value != undefined ? data[i].value : 0;

                // Find the corresponding state inside the GeoJSON
                for (var j = 0; j < json.features.length; j++) {
                    var jsonState = json.features[j].properties.NAME;
                    // console.log(dataState+"  "+jsonState);
                    if (dataState == jsonState) {

                        // Copy the data value into the JSON
                        json.features[j].properties.value = dataValue;
                        break;
                    }

                }
            }

            // Bind the data to the SVG and create one path per GeoJSON feature
            svg.selectAll("path")
                .data(json.features)
                .enter()
                .append("path")
                .attr("d", path)
                .style("stroke", function (d) {
                    if (d.properties.NAME == selectedState)
                        return "#000";
                    else
                        return "#fff";
                })
                .style("stroke-width", function (d) {
                    if (d.properties.NAME == selectedState)
                        return "4";
                    else
                        return "2";
                })
                .style("fill", function (d) {
                    return ramp(d.properties.value)
                });

            // add a legend
            var w = 140,
                h = 300;

            var key = d3.select("#key")
                .append("svg")
                .attr("width", w)
                .attr("height", h)
                .attr("class", "legend");

            var legend = key.append("defs")
                .append("svg:linearGradient")
                .attr("id", "gradient")
                .attr("x1", "100%")
                .attr("y1", "0%")
                .attr("x2", "100%")
                .attr("y2", "100%")
                .attr("spreadMethod", "pad");

            legend.append("stop")
                .attr("offset", "0%")
                .attr("stop-color", highColor)
                .attr("stop-opacity", 1);

            legend.append("stop")
                .attr("offset", "100%")
                .attr("stop-color", lowColor)
                .attr("stop-opacity", 1);

            key.append("rect")
                .attr("width", w - 100)
                .attr("height", h)
                .style("fill", "url(#gradient)")
                .attr("transform", "translate(0,10)");

            var y = d3.scaleLinear()
                .range([h, 0])
                .domain([minVal, maxVal]);

            var yAxis = d3.axisRight(y);

            key.append("g")
                .attr("class", "y axis")
                .attr("transform", "translate(41,10)")
                .call(yAxis)
        });

    }

    function pieChart(data) {
        var w = 400,                        //width
            h = 400,                            //height
            r = 100,                            //radius
            color = d3.scale.category20b();     //builtin range of colors

        var vis = d3.select("#piechart")
            .append("svg:svg")
            .data([data])
            .attr("width", w)
            .attr("height", h)
            .append("svg:g")
            .attr("transform", "translate(" + r + "," + r + ")")

        var arc = d3.svg.arc()
            .outerRadius(r);

        var pie = d3.layout.pie()
            .value(function (d) {
                return d.value;
            });

        var arcs = vis.selectAll("g.slice")
            .data(pie)
            .enter()
            .append("svg:g")
            .attr("class", "slice");

        arcs.append("svg:path")
            .attr("fill", function (d, i) {
                return color(i);
            })
            .attr("d", arc)
            .on("mouseover", function(d, i) {
            d3.select(this).style("fill", d3.rgb(color(i)).darker(2));
        })
            .on("mouseout", function(d,i) {
                d3.select(this).style("fill", color(i));
            });;

        arcs.append("svg:text")
            .attr("transform", function (d) {
                d.innerRadius = 0;
                d.outerRadius = r;
                return "translate(" + arc.centroid(d) + ")";
            })
            .attr("text-anchor", "middle")
            .text(function (d, i) {
                return data[i].value;
            });

        var legend = vis.selectAll(".legend")
            .data(data.map(function(d) { return d.label; }))
            .enter().append("g")
            .attr("class", "legend")
            .attr("transform", function(d,i) { return "translate(0," + i * 20 + ")"; })
            .style("opacity","0");

        legend.append("rect")
            .attr("x", w - 190 )
            .attr("y", -20)
            .attr("width", 18)
            .attr("height", 18)
            .style("fill", function(d, i) { return color(i); });

        legend.append("text")
            .attr("x", w - 200 )
            .attr("y", -10)
            .attr("dy", ".35em")
            .style("font-size", "13px")
            .style("text-anchor", "end")
            .text(function(d) {return d; });

        legend.transition().duration(500).delay(function(d,i){ return 1300 + 100 * i; }).style("opacity","1");

    }

    function callPieChart(poverty) {
        data = [];
        var BP = poverty[0]["poverty"];
        var AP = ( 100 - poverty[0]["poverty"]);

        data.push({"label": BP, "value": BP})
        data.push({"label": AP, "value": AP})
        pieChart(data);
    }

    function rankings(data) {
        var margin = {
            top: 20,
            right: 25,
            bottom: 5,
            left: 60
        };

        var width = 500 - margin.left - margin.right,
            height = 200 - margin.top - margin.bottom;

        var svg = d3.select("#graphic").append("svg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
            .append("g")
            .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

        var x = d3.scale.linear()
            .range([0, width])
            .domain([0, d3.max(data, function (d) {
                return d.case_numbers;
            })]);

        var y = d3.scale.ordinal()
            .rangeRoundBands([height, 0], .1)
            .domain(data.map(function (d) {
                return d.county;
            }));

        var bars = svg.selectAll(".bar")
            .data(data)
            .enter()
            .append("g")

        var tooltip = d3.select("#graphic")
            .append("div")
            .attr("class", "mytooltip")
            .text(" ");

        //append rects
        bars.append("rect")
            .attr("y", function (d) {
                return y(d.county);
            })
            .attr("height", 30)
            .attr("x", -20)
            .attr("width", function (d) {
                return x(d.case_numbers);
            })
            .attr("class", function (d) {
                if (d.county == selectedState)
                    return "bar firstBar"
                else
                    return "bar"
            })


        //add a value label to the right of each bar
        bars.append("text")
            .attr("class", "ranking_name")
            //y position of the label is halfway down the bar
            .attr("y", function (d) {
                return y(d.county) + y.rangeBand() / 2 + 1;
            })
            //x position is 3 pixels to the right of the bar
            .attr("x", function (d) {
                return -10;
            })
            .text(function (d) {
                return d.county;
            }).on("mouseover", function () {
            return tooltip.attr("class", "tooltip in");
        })
            .on("mousemove", function (d) {
                return tooltip.style("top",
                    (d3.event.pageY - 10) + "px").style("left", (d3.event.pageX + 50) + "px")
                    .text("Number of Evictions: " + d.case_numbers);
            })
            .on("mouseout", function () {
                return tooltip.attr("class", "tooltip out");
            });
        ;

        bars.append("text")
            .attr("class", "ranks")
            //y position of the label is halfway down the bar
            .attr("y", function (d) {
                return y(d.county) + y.rangeBand() / 2 + 1;
            })
            //x position is 3 pixels to the right of the bar
            .attr("x", function (d) {
                return -40;
            })
            .text(function (d) {
                return d.rank;
            });

    }

    function multilineChart() {

        var margin = {top: 50, right: 200, bottom: 100, left: 125};

        var width = 960 - margin.left - margin.right,
            height = 500 - margin.top - margin.bottom;

        var svg = d3.select("#multiLinechart").append("svg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
            .append("g")
            .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

        var cfg = {
            strokeWidth: 10
        };

        var colour = d3.scaleOrdinal(d3.schemeCategory20);

        // Use indexOf to fade in one by one
        var highlight = ["Geology", "Mechanical Engineering", "Civil Engineering", "Aero", "Chemistry", "Physics"];

        svg.append("defs").append("clipPath")
            .attr("id", "clip")
            .append("rect")
            .attr("width", width)
            .attr("height", height + cfg.strokeWidth);

        var x = d3.scaleLinear()
            .range([0, width]);

        var y = d3.scaleLinear()
            .range([0, height]);

        var voronoi = d3.voronoi()
            .x(d => x(d.year))
            .y(d => y(d.rank))
            .extent([[-margin.left / 2, -margin.top / 2], [width + margin.right / 2, height + margin.bottom / 2]]);

        var line = d3.line()
            .x(d => x(d.year))
            .y(d => y(d.rank))
// Uncomment this to use monotone curve
//     	.curve(d3.curveMonotoneX);

        d3.csv("/data/nss-ranking.csv", function (error, data) {
            if (error) throw error;

            var parsedData = [];
            data.forEach((d) => {
                var dObj = {department: d.department, ranks: []};
                for (var year in d) {
                    if (year != "department") {
                        if (d[year] != 0) {
                            dObj.ranks.push({year: +year, rank: +d[year], department: dObj});
                        }
                    }
                }
                parsedData.push(dObj);

            });
            console.log(parsedData);


            var xTickNo = parsedData[0].ranks.length;
            x.domain(d3.extent(parsedData[0].ranks, d => d.year));

            colour.domain(data.map(d => d.department));

            // Ranks
            var ranks = 16;
            y.domain([0.5, ranks]);

            var axisMargin = 20;

            var xAxis = d3.axisBottom(x)
                .tickFormat(d3.format("d"))
                .ticks(xTickNo)
                .tickSize(0);

            var yAxis = d3.axisLeft(y)
                .ticks(ranks)
                .tickSize(0);

            var xGroup = svg.append("g");
            var xAxisElem = xGroup.append("g")
                .attr("transform", "translate(" + [0, height + axisMargin * 1.2] + ")")
                .attr("class", "x-axis")
                .call(xAxis);

            xGroup.append("g").selectAll("line")
                .data(x.ticks(xTickNo))
                .enter().append("line")
                .attr("class", "grid-line")
                .attr("y1", 0)
                .attr("y2", height + 10)
                .attr("x1", d => x(d))
                .attr("x2", d => x(d));

            var yGroup = svg.append("g");
            var yAxisElem = yGroup.append("g")
                .attr("transform", "translate(" + [-axisMargin, 0] + ")")
                .attr("class", "y-axis")
                .call(yAxis);
            yAxisElem.append("text")
                .attr("class", "y-label")
                .attr("text-anchor", "middle")
                .attr("transform", "rotate(-90) translate(" + [-height / 2, -margin.left / 3] + ")")
                .text("Intra-University Ranking");

            yGroup.append("g").selectAll("line")
                .data(y.ticks(ranks))
                .enter().append("line")
                .attr("class", "grid-line")
                .attr("x1", 0)
                .attr("x2", width)
                .attr("y1", d => y(d))
                .attr("y2", d => y(d));

            var lines = svg.append("g")
                .selectAll("path")
                .data(parsedData)
                .enter().append("path")
                .attr("class", "rank-line")
                .attr("d", function (d) {
                    d.line = this;
                    return line(d.ranks)
                })
                .attr("clip-path", "url(#clip)")
                .style("stroke", d => colour(d.department))
                .style("stroke-width", cfg.strokeWidth)
                .style("opacity", 0.1)
                .transition()
                .duration(500)
                .delay(d => (highlight.indexOf(d.department) + 1) * 500)
                .style("opacity", d => highlight.includes(d.department) ? 1 : 0.1);

            var endLabels = svg.append("g")
                .attr("class", "end-labels")
                .selectAll("text")
                .data(parsedData.filter(d => highlight.includes(d.department)))
                .enter().append("text")
                .attr("class", "end-label")
                .attr("x", d => x(d.ranks[d.ranks.length - 1].year))
                .attr("y", d => y(d.ranks[d.ranks.length - 1].rank))
                .attr("dx", 20)
                .attr("dy", cfg.strokeWidth / 2)
                .text(d => d.department)
                .style("opacity", 0)
                .transition()
                .duration(500)
                .delay(d => (highlight.indexOf(d.department) + 1) * 500)
                .style("opacity", 1);

            var endDots = svg.append("g")
                .selectAll("circle")
                .data(parsedData.filter(d => highlight.includes(d.department)))
                .enter().append("circle")
                .attr("class", "end-circle")
                .attr("cx", d => x(d.ranks[d.ranks.length - 1].year))
                .attr("cy", d => y(d.ranks[d.ranks.length - 1].rank))
                .attr("r", cfg.strokeWidth)
                .style("fill", d => colour(d.department))
                .style("opacity", 0)
                .transition()
                .duration(500)
                .delay(d => (highlight.indexOf(d.department) + 1) * 500)
                .style("opacity", 1);

            var tooltip = svg.append("g")
                .attr("transform", "translate(-100, -100)")
                .attr("class", "tooltip");
            tooltip.append("circle")
                .attr("r", cfg.strokeWidth);
            tooltip.append("text")
                .attr("class", "name")
                .attr("y", -20);

            var voronoiGroup = svg.append("g")
                .attr("class", "voronoi");

            voronoiGroup.selectAll("path")
                .data(voronoi.polygons(d3.merge(parsedData.map(d => d.ranks))))
                .enter().append("path")
                .attr("d", function (d) {
                    return d ? "M" + d.join("L") + "Z" : null;
                })
                .on("mouseover", mouseover)
                .on("mouseout", mouseout);

            svg.selectAll(".rank-line")
                .each(d => highlight.includes(d.department) ? d.line.parentNode.appendChild(d.line) : 0);

            svg.select("g.end-labels").raise();

            function mouseover(d) {
                // Hide labels and dots from initial animation
                svg.selectAll(".end-label").style("opacity", 0);
                svg.selectAll(".end-circle").style("opacity", 0);

                svg.selectAll(".rank-line").style("opacity", 0.1);
                d3.select(d.data.department.line).style("opacity", 1);
                d.data.department.line.parentNode.appendChild(d.data.department.line);
                tooltip.attr("transform", "translate(" + x(d.data.year) + "," + y(d.data.rank) + ")")
                    .style("fill", colour(d.data.department.department))
                tooltip.select("text").text(d.data.department.department)
                    .attr("text-anchor", d.data.year == x.domain()[0] ? "start" : "middle")
                    .attr("dx", d.data.year == x.domain()[0] ? -10 : 0)
            }

            function mouseout(d) {
                svg.selectAll(".rank-line").style("opacity", d => highlight.includes(d.department) ? 1 : 0.1);

                svg.selectAll(".end-label").style("opacity", 1);
                svg.selectAll(".end-circle").style("opacity", 1);
                tooltip.attr("transform", "translate(-100,-100)");
            }
        });
    }

    function stackedBarChart(data) {
        var margin = {top: 20, right: 20, bottom: 30, left: 40},
            width = 700 - margin.left - margin.right,
            height = 250 - margin.top - margin.bottom;

        var x0 = d3.scale.ordinal()
            .rangeRoundBands([0, width], .1);

        var x1 = d3.scale.ordinal();

        var y = d3.scale.linear()
            .range([height, 0]);

        var xAxis = d3.svg.axis()
            .scale(x0)
            .tickSize(0)
            .orient("bottom");

        var yAxis = d3.svg.axis()
            .scale(y)
            .orient("left");

        var color = d3.scale.ordinal()
            .range(["#8474CD","#0F143D","#d5d5d5","#92c5de","#0571b0"]);

        var svg = d3.select('#multiLinechart').append("svg")
            .attr("width", width + margin.left + margin.right + 50)
            .attr("height", height + margin.top + margin.bottom + 50)
            .append("g")
            .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

            var categoriesNames = data.map(function(d) { return d.categorie; });
            var rateNames = data[0].values.map(function(d) { return d.rate; });

            x0.domain(categoriesNames);
            x1.domain(rateNames).rangeRoundBands([0, x0.rangeBand()]);
            y.domain([0, d3.max(data, function(categorie) { return d3.max(categorie.values, function(d) { return d.value; }); })]);

            svg.append("g")
                .attr("class", "x axis")
                .attr("transform", "translate(0," + height + ")")
                .call(xAxis);

            svg.append("g")
                .attr("class", "y axis")
                .style('opacity','0')
                .call(yAxis)
                .append("text")
                .attr("transform", "rotate(-90)")
                .attr("y", 6)
                .attr("dy", ".71em")
                .style("text-anchor", "end")
                .style('font-weight','bold')
                .text("Percentage");

            svg.select('.y').transition().duration(500).delay(1300).style('opacity','1');

            var slice = svg.selectAll(".slice")
                .data(data)
                .enter().append("g")
                .attr("class", "g")
                .attr("transform",function(d) { return "translate(" + x0(d.categorie) + ",0)"; })

            slice.append("text")
                .text(function(d) {return d.categorie; })
                .attr("y",220)
                .attr("x",25)
                .style("font-size","15px");

            slice.selectAll("rect")
                .data(function(d) { return d.values; })
                .enter().append("rect")
                .attr("width", x1.rangeBand())
                .attr("x", function(d) { return x1(d.rate)+ 5; })
                .style("fill", function(d) { return color(d.rate) })
                .attr("y", function(d) { return y(0); })
                .attr("height", function(d) { return height - y(0); })
                .on("mouseover", function(d) {
                    d3.select(this).style("fill", d3.rgb(color(d.rate)).darker(2));
                })
                .on("mouseout", function(d) {
                    d3.select(this).style("fill", color(d.rate));
                });

            slice.selectAll("rect")
                .transition()
                .delay(function (d) {return Math.random()*1000;})
                .duration(1000)
                .attr("y", function(d) { return y(d.value); })
                .attr("height", function(d) { return height - y(d.value); });

            //Legend
            var legend = svg.selectAll(".legend")
                .data(data[0].values.map(function(d) { return d.rate; }).reverse())
                .enter().append("g")
                .attr("class", "legend")
                .attr("transform", function(d,i) { return "translate(0," + i * 20 + ")"; })
                .style("opacity","0");

            legend.append("rect")
                .attr("x", width + 50 )
                .attr("y", -20)
                .attr("width", 18)
                .attr("height", 18)
                .style("fill", function(d) { return color(d); });

            legend.append("text")
                .attr("x", width + 45 )
                .attr("y", -10)
                .attr("dy", ".35em")
                .style("font-size", "13px")
                .style("text-anchor", "end")
                .text(function(d) {return d; });

            legend.transition().duration(500).delay(function(d,i){ return 1300 + 100 * i; }).style("opacity","1");

            var tick = svg.selectAll("#multiLinechart .tick");
            tick.style("opacity","1");



    }
</script>

<!-- ALL JS FILES -->
<script src="./../javascripts/all.js"></script>
<!-- Camera Slider -->
<script src="./../javascripts/jquery.mobile.customized.min.js"></script>
<script src="./../javascripts/jquery.easing.1.3.js"></script>
<script src="./../javascripts/parallaxie.js"></script>
<script src="./../javascripts/headline.js"></script>
<!-- Contact form JavaScript -->
<script src="./../javascripts/jqBootstrapValidation.js"></script>
<!-- <script src="./../javascripts/contact_me.js"></script> -->
<!-- ALL PLUGINS -->
<!-- <script src="./../javascripts/custom.js"></script> -->
<script src="./../javascripts/jquery.vide.js"></script>

</body>

</html>
