<html>
<meta charset="utf-8">

<head>
    <title>EvictionLand</title>
    <link href="/stylesheets/jquery-ui.css" rel="stylesheet">
    <link href="/stylesheets/admin.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="/javascripts/domModify.js"></script>
    <script src="/external/jquery/jquery.js"></script>
    <script src="/javascripts/jquery-ui.js"></script>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>
    <script src="/javascripts/color.jquery.js"></script>
    <script src="/javascripts/jquery.usmap.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.2/d3.min.js" charset="utf-8"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400, 700" rel="stylesheet">
    <!-- Site Icons -->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="./../stylesheets/bootstrap.min.css">

    <link rel="stylesheet" href="./../stylesheets/font-awesome.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="./../stylesheets/style.css">

    <link rel="stylesheet" href="./../stylesheets/form.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="./../stylesheets/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="./../stylesheets/custom.css">
    <script>
        setTimeout(function () {
            $("#editContainer").hide();
        }, 10);

        function deleteuser(event) {
            var email = event.currentTarget.closest(".userRecord").querySelector(".email").innerText;
            console.log(email);
            const Url = "http://localhost:3000/admin/deleteUser?user=" + email;
            $.ajax({
                type: "POST",
                url: Url,
                data: {
                    user: email
                },
                success: function (res) {
                    $('#searchResult').html("Deleted User");
                }
            });
        }

        function SearchEviction(event) {
            var state = document.getElementById("stateEntered").value;
            const Url = "http://localhost:3000/admin/showEvictionByState";
            if (state) {
                $.ajax({
                    type: "GET",
                    url: Url,
                    data: {
                        state: state
                    },
                    success: function (res) {
                        $("body").html(res)
                    }
                });
            }
        }

        function edituser(event) {
            $("#editContainer").show();
            var email = event.currentTarget.closest(".userRecord").querySelector(".email").innerText;
            var userName = event.currentTarget.closest(".userRecord").querySelector(".userName").innerText;
            var phone = event.currentTarget.closest(".userRecord").querySelector(".phone").innerText;
            document.getElementById("editname").value = userName;
            document.getElementById("editNumber").value = phone;
            document.getElementById("editemail").value = email;
        }

        function updateuser(event) {
            var username = document.getElementById("editname").value;
            var number = document.getElementById("editNumber").value;
            var email = document.getElementById("editemail").value;
            if (username == "" || number == "") {

            } else {
                var data = {
                    username: username,
                    number: number,
                    email: email
                };
                const Url = "http://localhost:3000/admin/updateUser";
                $.ajax({
                    type: "POST",
                    url: Url,
                    data: data,
                    success: function (res) {
                        $('#searchResult').html("Updated User");
                        document.getElementById("editContainer").style.display = "none";
                    }
                });
            }
        }

        function deleteEntry(id) {
            var data = {
                id:id
            };
            const Url = "http://localhost:3000/admin/deleteEntry";
            $.ajax({
                type: "DELETE",
                url: Url,
                data: data,
                success: function (res) {
                    evictiondata = res.evictiondata;
                    $( "#dataTable" ).load( "home #dataTable" );
                    // $("#tableMessage").html("Entry deleted Successfully");
                }
            });

        }

        function showEntry(id) {
            const URL = "http://localhost:3000/create/showEntry?id="+id;
            location.href = URL;
        }

        function updateEntry(id) {
            const URL = "http://localhost:3000/create/updateEntry?id="+id;
            location.href = URL;
        }
    </script>
</head>


<body id="page-top" class="politics_version" style="background-color: white;">
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav" style="background-color: white;height: 60px;border-bottom: 1px solid; border-color: maroon;">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/">
			<h2 class="logo">EvictionLand</h2>
		</a>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto" style="font-family: sans-serif;">
            <li style="color: black; margin-left: 30px;">
              <a class="links" href="/admin/bulkupload" style="color:maroon;font-size:16px;">Bulk Upload</a>
            </li>
            <li style="color: black; margin-left: 30px;">
              <a class="links " href="/admin/usermanage" style="color:maroon;font-size:16px;">User Management</a>
            </li>
			<li style="color: black; margin-left: 30px;">
              <a class="links" href="/users/logout" style="color:maroon;font-size:16px;">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

	<section id="signup"  style="margin-top: 90px; min-height: 81%;">
        <div class="container-fluid">
            <div style="font-size: 25px;">Eviction management</div>
            <div class=" row mainContent">
                <div class="col-md-2 evictionFilter" style="margin-left: 50px; color: black;">
                    <span style="font-weight: 700;font-size: 16px;">Search eviction</span>
                    <input name="stateEntered" id="stateEntered" placeholder="State" style="border-color: black; border: 1px solid; border-radius: 4px; padding-left: 10px;height: 30px;width: 100%;font-size: 15px;">
                    <button id="SearchEviction" onclick="SearchEviction(event)" style="height: 34px;">Search</button>
                    <br/>
                    <br/>
                    <form action="/create/" method="get">
                        <span style="font-weight: 700;font-size: 16px;">Create New Record</span>
                        <button id="SearchEviction" type="submit" style="margin-top: 0px;height: 34px;">Create Record</button>
                    </form>
                </div>
                <script>
                    var evictiondata;
                    evictiondata = <%- JSON.stringify(evictiondata) %>;
                </script>
                <!-- <label id="tableMessage"><label> -->
                <div class="col-md-9" id="evictionsearchResult" style="margin-left: 20px;">

                    <% if(evictiondata) { %>
                    <table class="" id="dataTable">
                        <tr>
                            <th style="background-color: #303636; font-size: 15px;"></th>
                            <th style="background-color: #303636; font-size: 15px;"></th>
                            <th style="text-align: center;background-color: #303636;">State</th>
                            <th style="background-color: #303636;font-size: 15px;">Year</th>
                            <th style="background-color: #303636;font-size: 15px;">Population</th>
                            <th style="text-align: center;background-color: #303636;font-size: 15px;">Poverty rate</th>
                            <th style="text-align: center;background-color: #303636;font-size: 15px;">Median Gross Rent</th>
                            <th style="text-align: center;background-color: #303636;font-size: 15px;">Median Household Income</th>
                            <th style="text-align: center;background-color: #303636;font-size: 15px;">Median Property Value</th>
                            <th style="text-align: center;background-color: #303636;font-size: 15px;">Rent Burden</th>
                            <th style="background-color: #303636;"></th>
                        </tr>
                        <% for (var i = 0; i < evictiondata.length; i++) {
                            var docId = evictiondata[i]._id.toString();

                        %>
                        <tr>
                            <td><button class="actionButton" id="<%=docId%>" onclick="showEntry(this.id)"><i class="material-icons">open_in_browser</i></button></td>
                            <td><button class="actionButton" id="<%=docId%>" onclick="updateEntry(this.id)"><i class="material-icons">border_color</i></button></td>
                            <td class="" style="font-size: 15px;">
                                <%= evictiondata[i].name %>
                            </td>
                            <td class="" style="font-size: 15px;">
                                <%= evictiondata[i].year %>
                            </td>
                            <td class="" style="font-size: 15px;">
                                <%= evictiondata[i].population %>
                            </td>
                            <td class="" style="font-size: 15px;">
                                <%= evictiondata[i]['poverty-rate'] %>
                            </td>
                            <td class="" style="font-size: 15px;">
                                <%= evictiondata[i]['median-gross-rent'] %>
                            </td>
                            <td class="" style="font-size: 15px;">
                                <%= evictiondata[i]['median-household-income'] %>
                            </td>
                            <td class="" style="font-size: 15px;">
                                <%= evictiondata[i]['median-property-value'] %>
                            </td>
                            <td class="" style="font-size: 15px;">
                                <%= evictiondata[i]['rent-burden'] %>
                            </td>
                            <td><button class="actionButton" id="<%=docId%>" onclick="deleteEntry(this.id)"><i class="material-icons">cancel</i></button></td>
                        </tr>
                        <% } %>
                    </table>

                    <% } %>
                </div>

            </div>

        </div>

        </div>
    </section>

    <div class="copyrights" style="height: 80px;">
        <div class="container">
            <div class="footer-distributed" style="float: left;">
                <div class="footer-right">
                    <p class="footer-company-name">All Rights Reserved. &copy; 2018 <a href="#">EvictionLand</a>
                </div>
            </div>
        </div><!-- end container -->
    </div><!-- end copyrights -->

    <a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>

</body>
