<html>
<head>
    <meta charset="UTF-8">
    <title>Eviction record</title>
    <link rel="stylesheet" href="/stylesheets/form.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <script src="/javascripts/evictionFormValidation.js"></script>
    <script>
        function sendUpdateRequest() {
            var docId = <%-data["_id"].toString()%>
            var state = document.getElementsByName("name");
            var year = document.getElementsByName("year");
            var population = document.getElementsByName("population");
            var povRate = document.getElementsByName("povRate");
            var medGrossRent = document.getElementsByName("MedGrossRent");
            var medHouseInc = document.getElementsByName("MedHouseInc");
            var medianPropValue = document.getElementsByName("MedianPropValue");
            var rentBurden = document.getElementsByName("RentBurden");

            var data = {
                docId:docId,
                state:state,
                year:year,
                population:population,
                povRate:povRate,
                medGrossRent:medGrossRent,
                medHouseInc:medHouseInc,
                medianPropValue:medianPropValue,
                rentBurden:rentBurden
            };
            const Url = "http://localhost:3000/create/processUpdateEntry";
            $.ajax({
                type: "PUT",
                url: Url,
                data: data,
                success: function (res) {
                    evictiondata = res.evictiondata;
                    $( "#dataTable" ).load( "home #dataTable" );
                    // $("#tableMessage").html("Entry deleted Successfully");
                }
            });

        }
    </script>
</head>
<body onload="headerModification()">
    <div class="header">
        <nav>
            <ul id="navList">
                <li><span>EvictionLand</span></li>
                <li><a href="/admin/home">Home</a></li>
                <li><a href="/dashboard/state">Dashboard</a></li>
                <li><a href="/rankings">Rankings</a></li>
                <li><a href="/ourteam">Contact</a></li>
                <li><a href="/users/logout">Logout</a></li>
            </ul>
        </nav>
    </div>
<div>
    <div class="content">
        <div class="message"><label><%=message %></label></div>
        <h2>Eviction Record</h2>

        <form name="evictionForm" action="/create/processUpdateEntry" method="post" onsubmit="return validateEvictionForm()">

            <span class="lab">Document Id:</span>
            <input type="text" name="id" class="inpField" value="<%=data["id"]%>">
            <br>
            <br>
            <span class="lab">State:</span>
            <input type="text" name="name" class="inpField" value="<%=data["name"]%>" <%if(update==false){%>disabled<%}%>>
            <label class="error" id="NameError"></label>
            <br>
            <br>
            <span class="lab">Year:</span>
            <input type="number" name="year" class="inpField" value="<%=data["year"]%>" <%if(update==false){%>disabled<%}%>>
            <label class="error" id="yearError"></label>
            <br>
            <br>
            <span class="lab">Population:</span>
            <input type="number" name="population" class="inpField" value="<%=data["population"]%>" <%if(update==false){%>disabled<%}%>>
            <label class="error" id="populationError"></label>
            <br>
            <br>
            <span class="lab">Poverty Rate:</span>
            <input type="number" name="povRate" class="inpField" value="<%=data["poverty-rate"]%>" <%if(update==false){%>disabled<%}%>>
            <label class="error" id="povRateError"></label>
            <br>
            <br>
            <span class="lab">Median Gross Rent:</span>
            <input type="number" name="MedGrossRent" class="inpField" value="<%=data["median-gross-rent"]%>" <%if(update==false){%>disabled<%}%>>
            <label class="error" id="MedGrossRentError"></label>
            <br>
            <br>
            <span class="lab">Median Household Income:</span>
            <input type="text" name="MedHouseInc" class="inpField" value="<%=data["median-household-income"]%>" <%if(update==false){%>disabled<%}%>>
            <label class="error" id="MedHouseIncError"></label>
            <br>
            <br>
            <span class="lab">Median Property Value:</span>
            <input type="text" name="MedianPropValue" class="inpField" value="<%=data["median-property-value"]%>" <%if(update==false){%>disabled<%}%>>
            <label class="error" id="MedianPropError"></label>
            <br>
            <br>
            <span class="lab">Rent Burden:</span>
            <input type="text" name="RentBurden" class="inpField" value="<%=data["rent-burden"]%>" <%if(update==false){%>disabled<%}%>>
            <label class="error" id="RentBurdenError"></label>
            <br>
            <br>
            <input type="submit" class="butt" value="Update" onclick="sendUpdateRequest()" <%if(update==false){%>hidden<%}%>>
        </form>
    </div>
</div>
<% include footer %>
</body>
</html>
